{% extends 'timecard/base.html' %}
{% load static %}

{% block Title %}
<title>Timecard Status</title>
{% endblock Title %}

{% block content %}
<h1>Timecard Status</h1>
<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}"/>
<a style="float:right;margin-right:50px" href="#"><button>Add New</button></a>
<form method="post">
    {% csrf_token %}
    <table class="container-fluid" id="container-fluid">
        <tr>
            <th>Project Name</th>
            <th>Project Number</th>
            <th>Date Submitted</th>
            <th>Status</th>
            <th>Approved By</th>
            <th></th>
        </tr>

        {% for obj in object_list %}
        <tr>
            <th>{{ obj.time_card_id.project_id.project_name }}</th>
            <th>{{ obj.time_card_id.project_id.project_number }}</th>
            <th>{{ obj.last_modified_on }}</th>
        </tr>
        {% endfor%}

    </table>
</form>
{% endblock content %}
